* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color: #1787e0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* container */

.container {
  padding: 0 30px;
  margin: 0 auto;
}

/*start header */

header {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

}

header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}



header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  transition: all 0.3s;
  overflow: hidden;
  height: 72px;
}

header .main-nav > li > a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: all 0.3s;
}

header .main-nav > li > a:hover{
  color: var(--main-color);
  background: #fafafa;
}

header .main-nav > li > a:hover::before{
  left: 0;
}

/* end header */

/* media query */

/* media query */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media(max-width:767px){
  header .logo{
     width: 100%;
     height: 50px;
  }
  header .main-nav{
    margin: auto;
  }

  header .main-nav >li >a {
    padding: 10px;
    font-size: 13px;
    height: 40px;
  }
}
